<Root InnerDiskImagePath=".\icons\inner.png" InnerRadius="50" InnerDiskNormalOpacity="1" InnerDiskMouseDownOpacity="0.5" OuterDiskImagePath=".\icons\circle.png" OuterRadius="160" OuterDiskNormalOpacity="1" OuterDiskMouseDownOpacity="0.5" FileNotFoundIcon=".\icons\file_not_found.png" FolderDefaultIcon=".\icons\folder.png" PieItemSize="60" PieItemNormalOpacity="1" PieItemMouseDownOpacity="0.5" PieItemRadiusFromCenter="190" />